DATABASE_URL=postgresql+psycopg2://user:password@postgres_db:5432/fastapi_db

POSTGRES_USER= user
POSTGRES_PASSWORD= password
POSTGRES_DB= fastapi_db


SECRET_KEY = "fahim"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

COMPOSE_PROJECT_NAME=devops_fastapi_play

TEAMS_INCOMING_WEBHOOK_URL: ""
TEAMS_REQUEST_URI: "alertmanager"


SERVICE_NAME=fastapi_app
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4317
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none